@use "../abstracts/variables" as *;

@for $i from 1 through 5 {
    .fade-in-#{$i} {
        animation: fadeIn #{$i}s ease-in-out;
    }
    .mt-#{$i} {
        margin-top: $i * $spacing;
    }
    .mb-#{$i} {
        margin-bottom: $i * $spacing;
    }
    .ml-#{$i} {
        margin-left: $i * $spacing;
    }
    .mr-#{$i} {
        margin-right: $i * $spacing;
    }
}

$colors: (
    "primary": $primary-color,
    "secondary": $secondary-color,
    "accent": $accent-color
);

@each $name, $color in $colors {
    .bg-#{$name} {
        background-color: $color;
    }
    .text-#{$name} {
        color: $color;
    }
}
