@use "sass:color";

@use "../abstracts/variables" as *;
@use "../abstracts/placeholders" as *;

.btn {
    @extend %button-base;
    background-color: $primary-color;
    color: set-text-color($primary-color);
    position: relative;
    overflow: hidden;

    &:hover {
        background-color: color.adjust($accent-color, $lightness: -10%);
        
        &::after {
            opacity: 1;
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150%;
        height: 150%;
        background: rgba(255, 255, 255, 0.3);
        transform: translate(-50%, -50%) rotate(45deg);
        transition: all 0.5s ease;
        opacity: 0;
    }
}
