@use "sass:math";

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero {
    @include gradient-background(rgb(0, 0, 0), $accent-color);
    height: 80vh;
    background-size: cover;
    position: relative;

    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: math.div($spacing, 2);
        justify-content: center;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $secondary-color;

        h1 {
            font-size: 3rem;
            margin-bottom: $spacing;
            animation: fadeIn 1s ease-in-out;
        }

        .btn {
            animation: fadeIn 1.5s ease-in-out;
            margin: 0.5rem;
        }
    }
}
