@use "../abstracts/variables" as *;


.about {
    padding: $spacing * 2 0;
    text-align: justify;
    
    &__content {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 $spacing;
        
        p {
            line-height: 1.6;
            animation: fadeIn 1s ease-in-out;
        }
    }
}
